
.Article {
    margin: 5px 0px !important;
}

.Article-link:hover{
    text-decoration: none;
}

.Article:hover {
    background-color: rgba(0, 159, 227, 0.05);
}

.Article .card-date {
    position: absolute;
    background: #009fe3;
    text-align: center;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #fff;
    top: 0;
    left: 0;
    text-transform: uppercase;
}