
.Company {
    margin: 5px 0px !important;
}

.Company-link {
    color: inherit;
}

.Company-link:hover {
	color: initial !important;
    text-decoration: none;
}

.Company:hover {
    background-color: rgba(0, 159, 227, 0.05);
}

.Company .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.Company .img-square-wrapper {
    min-width: 180px;
}

.Company .card-body h5 {
	display: inline-block;
	width: 100%;
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}