
.ToolHorizontal {
    margin: 5px 0px !important;
    padding-bottom: 20px;
    overflow: hidden;
    line-height: 1 !important;
}

.ToolHorizontal-link {
    color: inherit;
}

.ToolHorizontal-link:hover {
    color: initial !important;
    text-decoration: none;
}

.ToolHorizontal:hover {
    background-color: #f2fbff;
}

@media (min-width: 500px) {
    .ToolHorizontal .card-horizontal {
        height: 100%;
        display: flex;
        flex: 1 1 auto;
    }
}

@media (min-width: 0px) {
    .ToolHorizontal .img-square-wrapper {
        width: 100%;
        height: 130px;
    }
}

@media (min-width: 500px) {
    .ToolHorizontal .img-square-wrapper {
        object-fit: cover;
        display: flex;
        margin: auto;
        flex: 0 0 220px;
        padding: 12px 15px !important;
    }
}

.ToolHorizontal .card-body {
    padding: .9rem 1rem !important;
}

@media (min-width: 0px) {
    .ToolHorizontal .card-body button {
        display: none;
    }
}

@media (min-width: 500px) {
    .ToolHorizontal .card-body button {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
}

.ToolHorizontal .card-body h5 {
    font-weight: bold !important;
    margin-bottom: 15px !important;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 0px) {
    .ToolHorizontal .card-body button {
        display: none;
    }
}

@media (min-width: 500px) {
    .ToolHorizontal .card-body button {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
}

.ToolHorizontal .card-text {
    padding: 5px 1rem 5px 1rem;
    text-align: justify;
}