
.FlashNews {
   position: relative;
   padding: 5px 0px;
   background-color: #e40613 !important;
   width: 100%;
   overflow-x: hidden;
   height: 39px;
}

.FlashNews-wrapper {
   position: absolute;
   width: auto;
   animation: FlashNews-move linear 500s infinite;
}

.FlashNews:hover .FlashNews-wrapper {
   animation-play-state: paused;
}

.FlashNews-wrapper > div {
   display: table-cell;
   font-size: 19px;
   font-weight: bold;
   padding-right: 25vw;
   width: auto;
}

.FlashNews-wrapper a {
   color: white;
   white-space: nowrap;
}

.FlashNews-wrapper a:hover {
   color: black !important;
}

.FlashNews-wrapper a {
   text-decoration: none;
}

.FlashNews-separator {
   display: inline;
   width: 25%;
   height: 15px;
}

@keyframes FlashNews-move {
   0% {
      -webkit-transform: translate3d(100vw, 0, 0);
      transform: translate3d(100vw, 0, 0);
      visibility: visible;
   }
   100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
   }
}