
@media (max-width: 480px) {
    .Menu .Menu-hide-on-mobile {
        display: none;
    }
}

.Menu-big {
    height: calc(100vh - 46px);
    max-height: 1034px;
}

.navbar {
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: block;
    z-index: 10;
}

.navbar a {
    color: #000 !important;
    text-decoration: none;
}

.navbar a:hover {
    background: #e30613;
    text-decoration: none;
}

.navbar a:hover .Menu-title {
    color: #fff !important;
}

.navbar a:hover .Menu-description {
    color: #fff !important;
}

.navbar a:hover i.fa-sort-down {
    color: #fff !important;
}

.navbar i {
    padding-top: 12px !important;
}

.navbar-brand {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.navbar-brand a img {
    background: 
        linear-gradient( 135deg,transparent 10px,white 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,white 0) right /50.5% 100% !important;
    background-repeat: no-repeat !important;
    padding: 0px 15px;
}

.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.nav-link i {
    padding: 0px !important;
}

.nav-link-blue .Menu-title i {
    padding: 0px !important;
}

#basic-navbar-nav .navbar-nav {
    z-index: 10;
    padding: 0px 15px;
    background: 
        linear-gradient( 135deg,transparent 10px,white 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,white 0) right /50.5% 100%;
    background-repeat:no-repeat;
}

.navbar-toggler {
    background-color: white;
    opacity: 1;
}

.nav-item .dropdown-toggle {
    font-size: 20px;
}

.nav-item .dropdown-menu {
    border: solid 1px black;
}

.nav-item .dropdown-item {
    background-color: transparent;
}

.nav-item .dropdown-menu .dropdown-item:hover {
    color: #000;
}

.Menu-item {
    position: relative;
}

.Menu-logo {
    max-width: 100%;
    width: 400px;
}

.Menu-title {
    font-size: 20px;
}

.Menu-description {
    font-size: 12px;
}

.Menu-image {
    display: flex;
    float: left;
    height: 50px;
    width: 37px;
    margin-right: 5px;
}

.Menu-image img {
    width: 35px;
}

.Menu .dropdown-item {
    padding: 8px 25px;
}

.Menu .dropdown i.fa-sort-down {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.Menu .Analytic {
    padding: 0px !important;
}

.Menu .dropdown-toggle::after {
    display: none;
}

@media (min-width: 0px) {
    .Menu .Analytic {
        margin: 4px 0px;
    }

    .Menu .Analytic-value {
        color: white !important;
        font-size: 18px;
    }

    .Menu .Analytic-desc {
        color: white !important;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .Menu .Analytic {
        margin: 10px 5px;
    }

    .Menu .Analytic-value {
        font-size: 40px;
    }

    .Menu .Analytic-desc {
        font-size: 18px;
    }
}

@media (min-width: 0px) {
    .Menu-top-right-about {
        margin-top: 10px;
        padding: 20px 0px;
    }

    .Menu-top-right-about .SearchField {
        margin-top: 10px;
    }
}

@media (min-width: 992px) {
    .Menu-top-right-about {
        position: absolute;
        margin-top: 0px;
        top: 20px;
        right: 5px;
    }

    .Menu-top-right-about .SearchField {
        margin-top: 10px;
        margin-right: 20px;
    }
}

/* FLYING MENU */

.Menu-flying-menu-wrapper {
    background-color: #FFF !important;
    border-bottom: 1px solid #cccaca;
    box-shadow: 0 1px 10px;
    padding: 3px 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
}

.Menu-flying-menu {
    position: relative;
    animation-name: menu-appearance;
    animation-duration: .5s;
}

.Menu-flying-menu .navbar {
    float: right;
    padding: 0px 15px 0px 200px !important;
}

.Menu-flying-menu .logo {
    position: absolute;
    top: 12px;
    left: 30px;
    height: 45px;
}

@media (min-width: 0px) {
    .Menu-flying-menu-wrapper {
        display: none;
    }
}

@media (min-width: 768px) {
    .Menu-flying-menu-wrapper {
        display: block;
    }
}

@keyframes menu-appearance {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}

/* CAROUSEL */

.carousel-root {
    z-index: 0;
    position: absolute;
    top: 0;
    height: 100vh;
    max-height: 1080px;
    width: 100%;
    left: 0;
}

.slider-wrapper {
    height: 100vh;
    max-height: 1080px;
}

.carousel .slider {
    height: 100%;
}

.carousel .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .slide > div {
    height: 100% !important;
}

.carousel .slide div img {
    height: 100% !important;
    object-fit: cover !important;
}

.carousel .slide .legend {
    color: white !important;
    border-radius: 0 !important;
    opacity: 1 !important;
    position: absolute;
    bottom: 15% !important;
    right: 15% !important;
    left: unset !important;
    width: 500px !important;
    max-width: 70% !important;
    height: auto !important;
    font-size: 18px !important;
    line-height: 1.1 !important;
    text-align: left !important;
    background: none !important;
    margin:  0px !important;
    padding:  0px !important;
}

.carousel .slide .legend a {
    color: white !important;
    text-decoration: none;
}

.carousel .slide .legend-date {
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
}

.carousel .slide .blue-legend,
.carousel .slide .red-legend,
.carousel .slide .black-legend,
.carousel .slide .white-legend {
    animation-name: legend-appearance;
    animation-duration: 1s;
    -webkit-transition-duration: .5s !important;
    transition-duration: .5s !important;
    -webkit-transition-property: transform !important;
    transition-property: transform !important;
}

.carousel .slide .blue-legend:hover,
.carousel .slide .red-legend:hover,
.carousel .slide .black-legend:hover,
.carousel .slide .white-legend:hover {
    transform: scale(1.1);
}

@keyframes legend-appearance {
    from {
        transform : translate(-3em, 3em);
        opacity: 0;
    }
    to   {
        transform : translateY(0em);
        opacity: 1;
    }
}

.carousel .slide .blue-legend {
    background: 
        linear-gradient( 135deg,transparent 10px,#009fe3 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,#009fe3 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    margin: 5px 0px 0px 0px !important;
    padding: 15px 5px !important;
}


.carousel .slide .red-legend {
    background: 
        linear-gradient( 135deg,transparent 10px,#e40613 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,#e40613 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    margin: 5px 0px 0px 0px !important;
    padding: 15px 5px !important;
}

.carousel .slide .black-legend {
    background: 
        linear-gradient( 135deg,transparent 10px,black 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,black 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    margin: 5px 0px 0px 0px !important;
    padding: 15px 5px !important;
}

.carousel .slide .white-legend {
    background: 
        linear-gradient( 135deg,transparent 10px,white 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,white 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    color: black !important;
    margin: 5px 0px 0px 0px !important;
    padding: 15px 5px !important;
}

.carousel .slide .legend img {
    object-fit: all !important;
    text-align: left !important;
    margin-bottom: 8px;
    max-height: 60px;
    width: auto;
    max-width: 100%;
}

.carousel .slide .legend .legend-title {
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 10px 0px;
    font-size: 22px;
}

.carousel.carousel-slider .control-arrow {
    border-radius: 0em;
}

.carousel-slider .dot {
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.carousel-slider .dot:nth-child(1) {
    color: white;
    padding: 1px 14px 0px 12px;
    background: red !important;
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: none !important;
    background: 
        linear-gradient( 135deg,transparent 10px,black 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,black 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    border-radius: 0% !important;
    width: auto !important;
    height: 28px !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px !important;
}

.carousel-slider .dot:nth-child(1)::before {
    content: 'STRATEGY' !important;
}

.carousel-slider .dot:nth-child(2) {
    color: white;
    padding: 1px 14px 0px 12px;
    background: red !important;
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: none !important;
    background: 
        linear-gradient( 135deg,transparent 10px,#e40613 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,#e40613 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    border-radius: 0% !important;
    width: auto !important;
    height: 28px !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px !important;
}

.carousel-slider .dot:nth-child(2)::before {
    content: 'ECOSYSTEM' !important;
}

.carousel-slider .dot:nth-child(3) {
    color: white;
    padding: 1px 14px 0px 12px;
    background: red !important;
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: none !important;
    background: 
        linear-gradient( 135deg,transparent 10px,#009fe3 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,#009fe3 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    border-radius: 0% !important;
    width: auto !important;
    height: 28px !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px !important;
}

.carousel-slider .dot:nth-child(3)::before {
    content: 'OCTOBER' !important;
}

.carousel-slider .dot:nth-child(4) {
    color: white;
    padding: 1px 14px 0px 12px;
    background: red !important;
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: none !important;
    background: 
        linear-gradient( 135deg,transparent 10px,black 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,black 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    border-radius: 0% !important;
    width: auto !important;
    height: 28px !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px !important;
}

.carousel-slider .dot:nth-child(4)::before {
    content: 'BREAKFAST' !important;
}

.carousel-slider .dot:nth-child(5) {
    color: white;
    padding: 1px 14px 0px 12px;
    background: red !important;
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: none !important;
    background: 
        linear-gradient( 135deg,transparent 10px,black 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,black 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
    border-radius: 0% !important;
    width: auto !important;
    height: 28px !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px !important;
}

.carousel-slider .dot:nth-child(5)::before {
    content: 'INTERVIEW' !important;
}

.control-arrow {
    display: none;
}
