.navbar {
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: block;
    z-index: 10;
}

.navbar a {
    color: #000 !important;
    text-decoration: none;
}

.navbar a:hover {
    background: #e30613;
    text-decoration: none;
}

.navbar a:hover .Menu-title {
    color: #fff !important;
}

.navbar a:hover .Menu-description {
    color: #fff !important;
}

.navbar i {
    padding-top: 12px !important;
}

.navbar-brand {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

#basic-navbar-nav .navbar-nav {
    z-index: 10;
    padding: 0px 15px;
    background: 
        linear-gradient( 135deg,transparent 10px,white 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,white 0) right /50.5% 100%;
    background-repeat:no-repeat;
}

.navbar-toggler {
    background-color: white;
    opacity: 1;
}

.nav-item .dropdown-toggle {
    font-size: 20px;
}

.nav-item .dropdown-menu {
    border: solid 1px black;
}

.nav-item .dropdown-item {
    background-color: transparent;
}

.nav-item .dropdown-menu .dropdown-item:hover {
    color: #000;
}

.Menu-logo {
    max-width: 100%;
    width: 400px;
}

.Menu-title {
    font-size: 20px;
}

.Menu-description {
    font-size: 12px;
}

@media (min-width: 0px) {
    .Menu-top-right-about {
        margin-top: 10px;
        padding: 20px 0px;
    }

    .Menu-top-right-about .SearchField {
        margin-top: 10px;
    }
}

@media (min-width: 992px) {
    .Menu-top-right-about {
        position: absolute;
        top: 20px;
        right: 5px;
    }

    .Menu-top-right-about .SearchField {
        margin-top: 10px;
        margin-right: 20px;
    }
}