
.Cyber4GrowthPresentation-program .shadow-section {
	margin: 10px 0px 4px 0px;
}

.Cyber4GrowthPresentation-program .Cyber4GrowthPresentation-program-criteria {
	display: flex;
	justify-content: center;
	padding: 20px 0px 0px 20px;
	text-align: center;
}

.Cyber4GrowthPresentation-program i.fa-arrow-down {
	width: 100%;
	color: black;
	font-size: 25px;
	padding: 40px 0px 20px 0px;
}

#Cyber4GrowthPresentation .Cyber4GrowthPresentation-images div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#Cyber4GrowthPresentation .Cyber4GrowthPresentation-images img {
	padding: 10px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Cyber4GrowthPresentation .PageCyber4Growth-images div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#Cyber4GrowthPresentation .PageCyber4Growth-images img {
	padding: 10px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Cyber4GrowthPresentation .shadow-section {
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border-radius: .25rem;
	padding: 30px 15px;
}

#Cyber4GrowthPresentation .shadow-section a {
	text-decoration: none;
	cursor: pointer;
}

#Cyber4GrowthPresentation .centered-shadow-section {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#Cyber4GrowthPresentation .blue-shadow-section, .blue-shadow-section a {
	background-color: #009fe3;
    color: #fff !important;
}

#Cyber4GrowthPresentation .red-shadow-section, .red-shadow-section a {
	background-color: #e40613;
    color: #fff !important;
}

#Cyber4GrowthPresentation .red-shadow-section, .red-shadow-section a {
	background-color: #e40613;
    color: #fff !important;
}

#Cyber4GrowthPresentation .grey-shadow-section, .grey-shadow-section a {
	background-color: #BBB;
    color: #fff !important;
}

#Cyber4GrowthPresentation .blue-shadow-section h4, .red-shadow-section h4, .grey-shadow-section h4,
#Cyber4GrowthPresentation .blue-shadow-section h5, .red-shadow-section h5, .grey-shadow-section h5 {
    color: #fff !important;
}

#Cyber4GrowthPresentation .shadow-section h3 {
	color: white;
	font-size: 35px !important;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

#Cyber4GrowthPresentation .shadow-section:hover h3 {
	font-size: 40px !important;
	margin-bottom: 0px !important;
}


#Cyber4GrowthPresentation .shadow-section div i {
	margin: 8px 0px;
	font-size: 100px;
	-webkit-transition: font-size .5s ease;
	-moz-transition: font-size .5s ease;
	-o-transition: font-size .5s ease;
	transition: font-size .5s ease;
}

#Cyber4GrowthPresentation .shadow-section:hover i {
	font-size: 140px;
}

#Cyber4GrowthPresentation .shadow-section div div {
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

#Cyber4GrowthPresentation .shadow-section:hover div div {
	opacity: 0;
}

#Cyber4GrowthPresentation .Cyber4GrowthPresentation-program-mobile {

}

@media (min-width: 768px) {
    #Cyber4GrowthPresentation .Cyber4GrowthPresentation-program-mobile {
        display: none;
    }
}

@media (min-width: 0px) {
    #Cyber4GrowthPresentation .Cyber4GrowthPresentation-program-mobile {
        position: absolute;
        top: 2px;
        left: 8px;
    }
}
