
#CyberWeekContactUs .ShadowBox i {
	font-size: 40px !important;
}

#CyberWeekContactUs .ShadowBox h3 {
	font-size: 25px !important;
}

#CyberWeekContactUs .ShadowBox-content div {
	opacity: 1 !important;
	font-size: 20px;
	font-weight: bold;
}