
#CyberWeekProgramme .rbc-toolbar .rbc-btn-group:nth-of-type(1),
#CyberWeekProgramme .rbc-toolbar-label {
	pointer-events: none;
	opacity: 0;
}

#CyberWeekProgramme .CyberWeekProgramme-dates {
	text-align: left;
}

#CyberWeekProgramme .CyberWeekProgramme-rooms {
	text-align: right;
}

#CyberWeekProgramme .CheckBox {
	width: fit-content;
	display: inline-block;
	margin: 25px 3px 5px 3px;
}

#CyberWeekProgramme .rbc-agenda-view {
	overflow: visible !important;
}

#CyberWeekProgramme .rbc-event-content {
	width: 55%;
	font-size: 13px;
	color: black !important;
}

#CyberWeekProgramme .rbc-event-label {
	color: #58595b !important;
}

#CyberWeekProgramme .rbc-event-content .event-title {
	font-size: 16px !important;
	margin-bottom: 5px;
}

#CyberWeekProgramme .rbc-agenda-date-cell {
	background-color: white;
}

#CyberWeekProgramme .CheckBox-off {
	background-color: lightgrey !important;
}

#CyberWeekProgramme .CyberWeekProgramme-rooms-1 {
	background-color: #ffa8b0 !important;
}