
#CyberWeekAboutTheGala .CyberWeekAboutTheGala-image {
	width: 100%;
	margin-bottom: 20px;
}

#CyberWeekAboutTheGala .CyberWeekAboutTheGala-billing iframe {
	display: block;
	margin: auto;
	height:  500px;
}