
@media (min-width: 0px) {
    .Tab-menu, .Tab-menu-fw {
    	padding: 20px 0px;
    }

    .Tab-menu-el-selected-fw {
        border-left: 4px solid #e40613;
    }
}

@media (min-width: 768px) {
    .Tab-menu {
        position: absolute;
    }

    .Tab-menu, .Tab-menu-fw {
        padding: 20px 0px;
        margin-left: 0px;
    }

    .Tab-menu-el-fw {
        float: left;
    }

    .Tab-menu-el-selected-fw {
        border-left: none;
        border-bottom: 4px solid #e40613;
    }
}

.Tab-menu-el, .Tab-menu-el-fw {
	cursor: pointer;
	color: #010101;
    text-transform: uppercase;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.Tab-menu-el {
    width: inherit;
    max-width: inherit;
}

.Tab-menu-el:hover, .Tab-menu-el-fw:hover {
	background-color: rgba(0, 159, 227, 0.05);
}

.Tab-menu-el-selected {
    border-left: 4px solid #e40613;
}

.Tab-menu-el-empty {
    height: 15px;
}