
.EventSearch div .FormLine .row {
	padding: 3px 0px !important;
}

.EventSearch-taxonomy-link-container {
	padding: 3px 0px 0px 0px;
	text-align: center;
}

.EventSearch-taxonomy-link {
	cursor: pointer;
	color: #009fe3 !important;
	width: 100%;
	text-align: center;
}

.EventSearch-tree-taxonomy {
	margin: 10px 0px;
}

.EventSearch-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}