
#InsideApp {
    width: 100%;
}

#InsideApp-content {
    width: 100%;
}

#tsparticles {
	z-index: -1;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
}

#tsparticles canvas {
	z-index: -1;
}