.navbar {
    background-color: #009fe3 !important;
	font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.navbar a {
    color: white !important;
    text-decoration: none;
    -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
    transition: color .5s; /* For modern browsers */
}

.navbar a:hover {
    color: #e40613 !important;
}

.navbar i {
	padding-top: 12px !important;
}

.nav-link {
    min-width: 120px;
}

.nav-item .dropdown-toggle {
    font-size: 20px;
}

.nav-item .dropdown-menu {
	border: solid 1px white;
	background-color: #009fe3;
}

.nav-item .dropdown-item {
    background-color: #009fe3;
}

.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: unset;
}

.Menu-title {
    font-size: 20px;
}

.Menu-description {
    font-size: 12px;
}
