
.PageHome-banner {
    width: 100%;
    height: 1000px;
    max-height: calc(100vh - 300px);
    background: url("../img/Slide_CYBERLUX_1920x1080.jpg") no-repeat center;
    background-size: cover;
    background-clip: border-box;
}

.PageHome-banner-title {
    margin-top: 25px;
}

.PageHome-banner-title h3 {
    color: white !important;
    font-weight: bold;
}

.PageHome-banner .shadow-section {
    margin-bottom: 15px;
    margin-top: 15px;
}

.PageHome-banner .max-sized-page {
    width: calc(100% - 40px);
}

.PageHome-cybersecurity-luxembourg {
	background-color: #f8f9fa;
}

.PageHome-cybersecurity-luxembourg-logo {
	position: absolute;
	opacity: 0.2;
	height: 60px;
	top: 18px;
	right: 17px;
}

#PageHome .blue-bordered .max-sized-page,
#PageHome .red-bordered .max-sized-page,
#PageHome .black-bordered .max-sized-page {
    padding: 40px 0px 60px 0px;
}

#PageHome .shadow-section {
    margin-bottom: 20px;
}

#PageHome .blue-bordered {
	position: relative;
    background-color: rgba(188, 235, 255, 0.2) !important;
    background-repeat: no-repeat !important;
    background-size: 80px 80px !important;
    padding: 20px 20px 30px 20px;
}

#PageHome .blue-bordered h1 {
    background-image: url("../img/polygon-blue-bold.svg") !important;
}

#PageHome .red-bordered {
	position: relative;
    background-color: rgba(254, 215, 218, 0.2) !important;
    background-repeat: no-repeat !important;
    background-size: 80px 80px !important;
    padding: 20px 20px 30px 20px;
}

#PageHome .black-bordered {
	position: relative;
    background-color: rgba(0, 0, 0, 0.005) !important;
    background-repeat: no-repeat !important;
    background-size: 80px 80px !important;
    padding: 20px 20px 30px 20px;
}

#PageHome .black-bordered h1 {
    background-image: url("../img/polygon-black-bold.svg") !important;
}

/* TITLE */

.PageHome-link {
	text-decoration: none !important;
}

.PageHome-title-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

.PageHome-title {
    padding: 5px;
    -webkit-transition: padding-left .5s;
    transition: padding-left .5s;
}

.PageHome-title:hover {
	background: 
        linear-gradient( 135deg,transparent 10px,#009fe3 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,#009fe3 0) right /50.5% 100% !important;
    background-repeat: no-repeat !important;
    color: white !important;
    padding-left: 20px !important;
}

.PageHome-title:hover h3 {
    color: white !important;
}

.PageHome-title:hover span {
    display: none
}

.PageHome-title-link span {
	font-size: 12px;
}

#PageHome h3 {
	font-size: 28px;
}

#PageHome .PageHome-description {
    text-align: center;
    font-size: 25px;
    line-height: 1;
}

.PageHome-banner .shadow-section:hover div div {
    opacity: 1 !important;
}

.PageHome-banner .shadow-section:hover div div {
    opacity: 1 !important;
}

.PageHome-banner .shadow-section {
    position: relative;
}

.PageHome-banner .shadow-section i {
    font-size: 25px;
    padding: 0px 10px 10px 10px;
}

.PageHome-banner .shadow-section i:hover {
    color: #e40613;
    font-size: 40px;
}

.PageHome-banner .shadow-section a:hover > .tooltiptext {
    visibility: visible !important;
}

.PageHome-banner .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.PageHome-banner .shadow-section h3 {
    font-size: 25px !important;
    margin: 10px 0px !important;
}

.PageHome-banner .shadow-section:hover h3 {
    font-size: 28px !important;
}

.PageHome-banner .shadow-section div {
    line-height: 1.2;
    font-size: 14px !important;
}

.PageHome-banner .shadow-section div {
    line-height: 1.2;
    font-size: 14px !important;
}

.PageHome-banner .PageHome-banner-more {
    position: absolute;
    font-weight: bold;
    bottom: -10px;
    right: 10px;
}

.PageHome-banner .PageHome-banner-more:hover {
    color: #e40613;
}

.PageHome-banner .PageHome-banner-more i, .PageHome-banner .PageHome-banner-more em {
    font-size: 18px !important;
}

.PageHome-banner .PageHome-banner-more i:hover {
    color: #e40613 !important;
}


/* BACKGROUND PETALS */

@media (min-width: 0px) {
    .Background-petals, .Background-petals-bottom {
        display: none;
    }
}

@media (min-width: 1400px) {
    .Background-petals, .Background-petals-bottom {
        display: block;
    }
}

.Background-petals, .Background-petals-bottom {
    position: absolute;
}

.Background-petals-bottom {
    right: 0;
    bottom: 0;
}

.Background-petals li, .Background-petals-bottom li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    opacity: 0.4;
}

.Background-petals li:nth-child(1){
    left: 10px;
    top: 10px;
    opacity: 0.35;
}


.Background-petals li:nth-child(2){
    left: 50px;
    top: 30px;
    opacity: 0.3;
}

.Background-petals li:nth-child(3){
    left: 80px;
    top: 10px;
    opacity: 0.25;
}

.Background-petals li:nth-child(4){
    left: 50px;
    top: 80px;
    opacity: 0.17;
}

.Background-petals li:nth-child(5){
    left: 120px;
    top: 40px;
    opacity: 0.15;
}

.Background-petals li:nth-child(6){
    left: 20px;
    top: 120px;
    opacity: 0.14;
}

.Background-petals li:nth-child(7){
    left: 100px;
    top: 90px;
    opacity: 0.12;
}

.Background-petals-bottom li:nth-child(1){
    right: 10px;
    bottom: 10px;
    opacity: 0.35;
}

.Background-petals-bottom li:nth-child(2){
    right: 50px;
    bottom: 30px;
    opacity: 0.3;
}

.Background-petals-bottom li:nth-child(3){
    right: 80px;
    bottom: 10px;
    opacity: 0.25;
}

.Background-petals-bottom li:nth-child(4){
    right: 50px;
    bottom: 80px;
    opacity: 0.17;
}

.Background-petals-bottom li:nth-child(5){
    right: 120px;
    bottom: 40px;
    opacity: 0.15;
}

.Background-petals-bottom li:nth-child(6){
    right: 20px;
    bottom: 120px;
    opacity: 0.14;
}

.Background-petals-bottom li:nth-child(7){
    right: 100px;
    bottom: 90px;
    opacity: 0.12;
}

.blue-bordered .Background-petals li, .blue-bordered .Background-petals-bottom li {
	background: 
		linear-gradient( 45deg,transparent 7px,#009fe3 0) left /50.5% 100%,
		linear-gradient( 225deg,transparent 7px,#009fe3 0) right/50.5% 100%;
    background-repeat:no-repeat !important;
}

.red-bordered .Background-petals li, .red-bordered .Background-petals-bottom li {
	background: 
		linear-gradient( 45deg,transparent 7px,#e40613 0) left /50.5% 100%,
		linear-gradient( 225deg,transparent 7px,#e40613 0) right/50.5% 100%;
    background-repeat:no-repeat !important;
}

.black-bordered .Background-petals li, .black-bordered .Background-petals-bottom li {
	background: 
		linear-gradient( 45deg,transparent 7px,black 0) left /50.5% 100%,
		linear-gradient( 225deg,transparent 7px,black 0) right/50.5% 100%;
    background-repeat:no-repeat !important;
}