
.PageCompany-logo {
	min-height: 160px;
	display: flex;
    margin: auto;
    height: 100%;
}

.PageCompany-logo img {
	object-fit: contain;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.PageCompany-no-logo {
    min-height: 160px;
}

.PageCompany-name {
    padding-top: 15px;
}

.PageCompany-name h3 {
    font-size: 28px;
}

.PageCompany-stamp {
	font-size: 24px;
}

.PageCompany-stamp i {
	color: #8fddff;
	margin-right: 5px;
}

.PageCompany-CompanyMap {
    padding: 0 !important;
    margin-bottom: 20px;
}

.PageCompany-CompanyMap .CompanyMap .leaflet-container {
    min-height: 300px;
}

.PageCompany-taxonomy-category {
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    width: 100%;
}

.PageCompany-taxonomy-category .shadow-section {
    width: 100%;
    height: 100%;
}

.PageCompany .shadow-section {
    margin-bottom: 20px;
}

.PageCompany .claim-link {
    position: relative;
    display: inline-block;
    background-color: #e9ecef;
    border: none;
    height: 26px;
    padding: 0;
    margin: 3px 2px 1px 2px;
    padding: 7px 10px 1px 10px;
    font-size: 14px;
    font-family:"Open Sans", sans-serif;
    border-radius: 16px;
    text-decoration: none;
    max-width: 100%;
    line-height: 1;
}

.PageCompany .claim-link:hover {
    color: #e40613;
}