
.PageHome-cybersecurity-luxembourg {
	background-color: #f8f9fa;
}

.PageHome-cybersecurity-luxembourg-logo {
	position: absolute;
	opacity: 0.2;
	height: 60px;
	top: 18px;
	right: 17px;
}

.PageHome-carousel-cover {
	height: 500px;
}

.carousel-root {
	position: absolute;
	height: 500px;
	width: 100%;
	left: 0;
}

.slider-wrapper {
	height: 500px;
}

.carousel .slider {
	height: 100%;
}

.carousel .slide {
	width: 100%;
  	height: auto;
  	object-fit: cover;
  	max-height: 100vh;
}

.carousel .slide .legend {
	background: 
        linear-gradient( 135deg,transparent 10px,#e40613 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,#e40613 0) right /50.5% 100% !important;
    background-repeat:no-repeat !important;
	color: white !important;
	border-radius: 0 !important;
	opacity: 1 !important;
	position: absolute;
	bottom: 50px !important;
	right: 50px !important;
	margin: 0 !important;
	padding: 20px 30px !important;
	width: auto !important;
	max-width: calc(50% - 50px) !important;
}

.carousel.carousel-slider .control-arrow {
    border-radius: 0em;
}

#PageHome .blue-bordered {
	background:
        linear-gradient(to right, #8fddff 2px, transparent 3px) 0 0,
        linear-gradient(to left, #8fddff 2px, transparent 3px) 100% 100%,
        linear-gradient(to bottom, #8fddff 2px, transparent 3px) 0 0,
        linear-gradient(to top, #8fddff 2px, transparent 3px) 100% 100% !important;
    background-color: rgba(188, 235, 255, 0.2) !important;
    background-repeat: no-repeat !important;
    background-size: 80px 80px !important;
    padding: 20px 20px 30px 20px;
}

#PageHome .red-bordered {
	background:
        linear-gradient(to right, #ffa8b0 2px, transparent 3px) 0 0,
        linear-gradient(to left, #ffa8b0 2px, transparent 3px) 100% 100%,
        linear-gradient(to bottom, #ffa8b0 2px, transparent 3px) 0 0,
        linear-gradient(to top, #ffa8b0 2px, transparent 3px) 100% 100% !important;
    background-color: rgba(254, 215, 218, 0.2) !important;
    background-repeat: no-repeat !important;
    background-size: 80px 80px !important;
    padding: 20px 20px 30px 20px;
}

#PageHome .Analytic:hover {
	background-color: rgba(0, 159, 227, 0.05);
	cursor: pointer;
}

.PageHome-link {
	text-decoration: none !important;
}