
.PageService article {
	margin-bottom: 20px;
}

.PageService article .PageService-content-cover {
	position: relative;
	margin: auto;
	background: repeating-linear-gradient(
      135deg,
      #f8f9fa,
      #f8f9fa 10px,
      rgba(0, 0, 0, 0) 10px,
      rgba(0, 0, 0, 0) 20px
    );
	text-align: center;
	min-height: 50px;
}

.PageService article .PageService-content-cover img {
	max-width: 100%;
	min-height: 50px;
	max-height: 300px;
}

.PageService article .content-media {
	margin: 15px auto;
	text-align: center;
	display: flex;
  	justify-content: center;
}

.PageService article .content-media img {
	max-width: 100%;
	max-height: 300px;
}

.PageService article .content-media iframe {
	max-width: 100%;
}

.PageService article .content-media p {
	margin: 0 !important;
}

.PageService-related-article {
	background-color: #f8f9fa;
	padding-top: 0px !important;
}

.PageService-publication-date {
	position: absolute;
	right: 30px;
	bottom: 0px;
	background: #e40613;
    text-align: center;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
}

.PageService-tags {
	padding: 30px 10px 5px 10px;
}

/* Collapsible */ 

.PageService .Collapsible {
	margin: 30px 0px 0px 0px !important;
	border-top: solid 0px !important;
    border-bottom: solid 0px !important;
}

.PageService .Collapsible__trigger p {
	position: relative;
	padding: 8px 70px 8px 20px;
	font-style: italic;
	cursor: pointer;
	margin-bottom: 0px;
}

.PageService .Collapsible .is-closed:after {
    top: 45px !important;
    right: 10px;
}

.PageService .Collapsible .is-open:after {
    top: 45px !important;
    right: 10px;
}