@font-face { font-family: "Fjalla One"; src: url('./font/FjallaOne-Regular.ttf'); }

/*

#009fe3 : blue
#e40613 : red
#bcebff : light blue
#fed7da : light red
#8fddff : hovered light blue;
#ffa8b0 : hovered light red
rgba(0, 159, 227, 0.05) : transparent light blue (usually for background)
rgba(228, 6, 19, 0.05) : transparent light red (usually for background)
grey
lightgrey

*/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: grey;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #58595b;
    font-family: 'source-sans-pro',Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

#App {
    width: 100%;
    height: 100%;
}

h1 {
	color: #010101;
    text-transform: uppercase;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0px 10px 0px 85px;
    margin: 25px 0px 15px 0px;
    background-image: url("img/polygon-red-bold.svg");
	background-size: 75px 75px;
	background-repeat: no-repeat;
	min-height: 75px;
}

h2 {
	color: #010101;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0px 10px 0px 73px;
    margin: 25px 0px 15px 0px;
    background-image: url("img/polygon-blue-bold.svg");
	background-size: 60px 60px;
	background-repeat: no-repeat;
	min-height: 60px;
}

h3 {
	color: #010101;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0px 10px;
    margin: 10px 0px;
    font-size: 22px;
}

h4 {
	color: #010101;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0px 10px;
    margin: 10px 0px;
    font-size: 16px;
}

h5 {
	color: #010101;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0px 10px;
    margin: 10px 0px;
    font-size: 12px;
}

a {
	color: #009fe3;
}

a:hover {
	color: #e40613;
}

blockquote {
	position: relative;
	margin: 30px 20px 40px 20px;
	padding: 30px 20px;
	font-style: italic;
	border-top: solid 1px;
    border-bottom: solid 1px;
}

blockquote:after {
    position: absolute;
    content: "”";
    color: grey;
    font-size: 5rem;
    line-height: 0;
    bottom: -15px;
    right: 30px;
}

.showFulltext {
	white-space: initial !important;
    overflow: visible !important;
    text-overflow: unset !important;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background-color: rgba(0, 159, 227, 0.05);
}

/* COLORS */

.blue-font {
	color: #009fe3 !important;
}

.red-font {
	color: #e40613 !important;
}

.red-background {
	background-color: #e40613 !important;
}

.grey-background {
	background-color: grey !important;
}

/* PAGE */

.page {
	padding: 10px 20px;
}

.row {
	padding: 10px 0px;
}

.row-spaced {
	padding-bottom: 60px ;
}

.full-page {
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.full-size {
	height: 100%;
	width: 100%;
}

.max-sized-page {
	max-width: 1200px;
	margin: auto;
}

/* BUTTON */

.bottom-right-buttons {
	position: absolute;
	bottom: 30px;
	right: 40px;
}

.bottom-right-buttons > button {
	margin-left: 5px;
}

.bottom-left-buttons {
	position: absolute;
	bottom: 30px;
	left: 40px;
}

.bottom-left-buttons > button {
	margin-left: 5px;
}

.top-right-buttons {
	position: absolute;
	top: 30px;
	right: 20px;
}

.top-right-buttons > button {
	margin-left: 5px;
}

.right-buttons > button {
	margin: 7px 0px;
	float: right;
}

button {
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(0,0,0,0);
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
	background-color: #009fe3;
	opacity: .5;
}

button.small-button {
	padding: 0.1em 0.4em !important;
	font-size: 12px;
}

button.full-width-button {
	width: 100%;
	opacity: 1;
    font-variant: small-caps;
    font-size: 20px important;
}

button:hover {
	border-color: rgba(0,0,0,1);
	opacity: 1;
}

button:disabled {
	background-color: grey !important;
	cursor: default !important;
}

@media all and (max-width:30em){
	button {
		display:block;
		margin:0.2em auto;
	}
}

.blue-button {
	background-color: #009fe3;
}

.red-button {
	background-color: #e40613;
}

.black-button {
	background-color: #000;
}

.link-button {
	background-color: transparent;
	color: #009fe3;
	text-shadow: none;
	transition: none;
}

.link-button:hover {
	border-color: transparent;
}

.link-button:disabled {
	background-color: transparent;
	cursor: default;
	color: lightgrey;
}

.centered {
	text-align: center;
}

.justified {
	text-align: justify;  
}

p {
	text-align: justify;  
}

/* BREADCRUMB */

.breadcrumb {
	background: 
        linear-gradient( 135deg,transparent 10px,#009fe3 0) left /50.5% 100%,
        linear-gradient( 315deg,transparent 10px,#009fe3 0) right /50.5% 100%;
    background-repeat:no-repeat;
	color: white !important;
	border-radius: 0;
}

.breadcrumb a {
	color: white !important;
}

.breadcrumb-item+.breadcrumb-item::before {
	color: #000;
}

/* INPUT */

input, textarea, select {
  position: relative;
}

input, textarea, select {
  display: block;
  margin: 0;
  padding: 5px 12px;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: lightgrey 2px solid;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  height: 40px;
}

input::placeholder, textarea::placeholder, select::placeholder {
  	color: #B0BEC5;
}

input:focus, textarea:focus, select:focus {
	border: 1px solid #009fe3;
}

textarea {
	height: 100px;
}

/* POPUP */

.Popup-full-size-content {
	height: 95%;
	width: 80% !important;
	max-width: 1200px;
	padding: 10px;
	animation: fadeIn ease .5s;
	-webkit-animation: fadeIn ease .5s;
	-moz-animation: fadeIn ease .5s;
	-o-animation: fadeIn ease .5s;
	-ms-animation: fadeIn ease .5s;
}

.Popup-small-size-content {
	width: 60% !important;
	max-height: 90% !important;
	max-width: 1200px;
	padding: 10px;
	animation: fadeIn ease .5s;
	-webkit-animation: fadeIn ease .5s;
	-moz-animation: fadeIn ease .5s;
	-o-animation: fadeIn ease .5s;
	-ms-animation: fadeIn ease .5s;
}

.Popup-small-size-content img {
	max-width: 100%;
}

.popup-content {
	padding: 0px 20px 30px 20px !important;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #EEE !important;
	border: 1px solid #cccaca;
}

.popup-overlay {
	background-color: rgba(0, 0, 0, 0.4);
}

/* ANIMATION */

.fade-in {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

.resize-animation {
	-webkit-transition:width 300ms ease-in-out, max-height 300ms ease-in-out;
	-moz-transition:width 300ms ease-in-out, max-height 300ms ease-in-out;
	-o-transition:width 300ms ease-in-out, max-height 300ms ease-in-out;
	transition:width 300ms ease-in-out, max-height 300ms ease-in-out;
}

/* NOTIFICATION */

.notification-info {
  background-color: #009fe3 !important;
}

.notification-success {
  background-color: #51a351 !important;
}

.notification-warning {
  background-color: #f89406 !important;
}

.notification-error {
  background-color: #e40613 !important;
}

/* BADGE */

.Badge {
	position: absolute;
	bottom: -5px;
	right: -3px;
	color: white;
	background-color: #e40613;
	border:solid 1px #e40613;
	border-radius: 25px;
	padding: 0px 7px;
}

/* CANVA */ 

canvas {
   	background: "#fff" !important;
}

/* Collapsible */ 

.Collapsible {
	position: relative;
	margin: 30px 20px 0px 20px;
	border-top: solid 1px;
    border-bottom: solid 1px;
}

.Collapsible__trigger p {
	position: relative;
	padding: 8px 70px 8px 20px;
	font-style: italic;
	cursor: pointer;
	margin-bottom: 0px;
}

.Collapsible .is-closed:after {
    position: absolute;
    content: "▼";
    color: grey;
    font-size: 20px;
    line-height: 0;
    top: 22px;
    right: 30px;
}

.Collapsible .is-open:after {
    position: absolute;
    content: "▲";
    color: grey;
    font-size: 20px;
    line-height: 0;
    top: 22px;
    right: 30px;
}

/* NEWSLETTER FORM */

.mailerlite-popup {
	background-color: #009fe3 !important;
}

.mailerlite-popup button {
	background-color: #e40613 !important;
}

/* Shortcut box */

.shortcut-box {
	border: solid 2px #009fe3;
	box-shadow: rgba(0, 0, 0, 0.19) -20px 20px 20px, rgba(0, 0, 0, 0.23) -6px 6px 6px;
	padding: 10px;
}

.shortcut-box h2 {
	cursor: pointer;
	padding: 0px 10px 0px 25px !important;
	margin: 15px 0px 10px 0px !important;
	background-size: 20px 20px !important;
	min-height: 25px;
	font-size: 14px !important;
}

.shortcut-box h2:hover {
	background-color: rgba(0, 159, 227, 0.05);
}

/* Shadow boxes */

.shadow-section {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border-radius: .25rem;
	padding: 20px 12px;
}

.shadow-section a {
		text-decoration: none;
}

.centered-shadow-section {
    text-align: center;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.blue-shadow-section, .red-shadow-section {
	padding: 30px 15px !important;
}

.red-shadow-section, .red-shadow-section a {
	background-color: #e40613;
    color: #fff !important;
}

.blue-shadow-section, .blue-shadow-section a {
	background-color: #009fe3;
    color: #fff !important;
}

.red-shadow-section, .red-shadow-section a {
	background-color: #e40613;
    color: #fff !important;
}

.red-shadow-section h3, .blue-shadow-section h3 {
	color: white;
	font-size: 35px !important;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

.red-shadow-section:hover h3, .blue-shadow-section:hover h3 {
	font-size: 40px !important;
	margin-bottom: 0px !important;
}


.red-shadow-section div i, .blue-shadow-section div i {
	margin: 8px 0px;
	font-size: 100px;
	-webkit-transition: font-size .5s ease;
	-moz-transition: font-size .5s ease;
	-o-transition: font-size .5s ease;
	transition: font-size .5s ease;
}

.red-shadow-section:hover i, .blue-shadow-section:hover i {
	font-size: 140px;
}

.red-shadow-section div div, .blue-shadow-section div div {
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

.red-shadow-section:hover div div, .blue-shadow-section:hover div div {
	opacity: 0;
}