
#PageHomeLatestNews .PageHomeLatestNews-date,
#PageHomeLatestNews .PageHomeLatestNews-title {
	display: inline;
}

#PageHomeLatestNews a {
	text-decoration: none;
}

#PageHomeLatestNews .PageHomeLatestNews-article {
	width: 100%;
	color: #009fe3;
	padding: 1px 5px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border: transparent 0.16em solid;
}

#PageHomeLatestNews .PageHomeLatestNews-article-selected {
	background-color: rgb(0, 159, 227);
    color: white;
}

#PageHomeLatestNews .PageHomeLatestNews-article:hover {
    border: black 0.16em solid;
}

@media (min-width: 0px) {
 	#PageHomeLatestNews .PageHomeLatestNews-image {
        position:  relative;
        width: 100%;
        height: 214px;
        background: repeating-linear-gradient(
          135deg,
          rgba(0, 159, 227, 0.1),
          rgba(0, 159, 227, 0.1) 10px,
          rgba(0, 0, 0, 0) 10px,
          rgba(0, 0, 0, 0) 20px
        ) !important;
    }
}

@media (min-width: 500px) {
    #PageHomeLatestNews .PageHomeLatestNews-image {
    	height: 214px;
        object-fit: cover;
        display: flex;
        margin: auto;
        flex: 0 0 220px;
        overflow: hidden;
    }
}

#PageHomeLatestNews .PageHomeLatestNews-image img,
#PageHomeLatestNews .PageHomeLatestNews-image .NoImage {
	position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: unset !important;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

@keyframes slide {
	0% { left: 30px; }
    100% { left: 0%; }
}

#PageHomeLatestNews .NoImage {
    background: repeating-linear-gradient(
      135deg,
      rgba(0, 159, 227, 0.1),
      rgba(0, 159, 227, 0.1) 10px,
      rgba(0, 0, 0, 0) 10px,
      rgba(0, 0, 0, 0) 20px
    ) !important;
}

#PageHomeLatestNews .NoImage-logo i {
    color: rgba(0, 159, 227, 0.1) !important;
}