
.GlobalMap-fullpage {
	position: fixed;
}

.GlobalMap-company {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 20px;
	width: 80%;
	max-width: 300px;
	z-index: 995;
	background-color: #bcebff;
    padding: 10px 20px 10px 20px;
    border-radius: 0.4rem;
    font-size: 13px;
}

.GlobalMap-company .Company {
	z-index: 995;
}

.GlobalMap-filters-top-right {
	position: absolute;
	top: 10px;
	right: 26px;
	z-index: 1000;
}

.GlobalMap-filters-bottom-right {
	position: absolute;
	bottom: 30px;
	right: 26px;
	z-index: 1000;
}